body{
	font: 100%/1.5 "Open Sans", sans-serif;
	width: 100%;
	background-color: #f2f2f2;
	margin-top:  76px;
	-webkit-font-smoothing: antialiased;
	margin-left: 0;
}
.brand-red{
	
	color:#FF6952;

}

.brand-blue{
	color: #30C0D8;
}

.wrapper{
	margin: 0 auto;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 14rem;
	
}

.center{
	text-align: center;
}

/* Initial styles/ Home Page*/

/*Header and navigation*/

header{
	background: white;
	width: 100%;
	height: 4.75rem;
	box-shadow: 0 0 2px rgba(6,8,8,0.15);
	position: fixed;
	top: 0px;
	display: flex;
  justify-content: flex-end;
  z-index: 1000;
}

header>a{
	margin-right: auto;
}

header>a:hover{
	border-bottom: none;
}

#logo{
	padding:.65rem;
	width: 38%;
	left:30%;
	position: relative;
	display: flex;

	
	
}


nav{
    margin: .5rem;
}

.main-nav ul{
	list-style-type: none;
	font-weight: bold;
	padding-left: 0;
}

.main-nav li{
	display: inline-block;
    margin: 0 .5rem;
    margin-left: auto;
}

.main-nav a{
  text-decoration: none;
  color: #3a3a3a;
  font-size: 0.85rem;

}
a:hover{
  text-decoration: none; 
  color: #FF6952;
  border-bottom: 2px solid #30C0D8;
}

/* Footer Top */

.footer-top{
    display: flex;
    flex-flow: row wrap;
    padding-top: 2rem;
	  padding-bottom: 2rem;
    box-shadow: 0 0 2px rgba(6,8,8,0.15);
}

.footer-top ul{
	list-style-type: none;
	padding-left: 1.5rem;
}

.footer-top h4{
	padding-left: 1.5rem;
	margin-bottom: .5rem;
}

.footer-top a{
    text-decoration: none;
    color: #3a3a3a;
    font-size: 1rem;
}

.resources-column, .about-column, .product-column, .support-column{
	padding: .5rem 0; 
	flex: 1;
	min-width: 145px;
}

/* Footer Bottom */

.footer-bottom{
	background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-logo{
	height: 6.25rem;
	width: 15.625rem;
}

.footer-bottom p{
	font-size: .80rem;
}

.social-icons-footer a{
    text-decoration: none;
}

/* About Page*/

#hero-aboutpage{
	background: url(http://weknowyourdreamz.com/images/mountain/mountain-04.jpg) center center / cover no-repeat;
}

/* Our Story */

.our-story{
	  padding: 3rem 1rem;
    background: white;
    box-shadow: 0 0 2px rgba(6,8,8,0.15);
}

.our-story h2{
	margin-top: 0;
}

/* Who we are */

.who-we-are{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    padding: 3rem 1rem;
}


.who-we-are img{
	max-width: 200px;
	max-height: 200px;
	margin: 2rem 0;
  box-shadow: 0 0 10px black;
  border-radius: 50%;
  transition: transform .4s ease;
  transform: scale(1);
}

.who-we-are img:hover{
	box-shadow: 0 0 50px #30c0d8;
    transform: translate(0%, 10px) scale(1.40);
}

.who-we-are h3{
	margin-bottom: 0;
}

.about-us-text{
	padding: 0 6% 1rem 6%;

}



/* Our Priorities */

.our-priorities{
	box-shadow: 0 0 2px rgba(6,8,8,0.15);
  padding: 3rem 1rem;
  background: white;
}

.our-priorities ul{
	padding-top: 1.5rem;     
	display: flex;
	flex-flow: column wrap;
}

.our-priorities li{
	text-align: center;
	list-style: none;
}

.our-priorities,.brand-red,ul p{
	border-radius: 5px;
	box-shadow: 7px 7px 13px 0px rgba(50,50,50,0.22);
	padding: 30px;
	margin: 20 px;
	transition: all;
	padding: 0 6% 1rem 6%;
}

/* About page Call to Action */

.about-page-cta{
	background-color: #30c0d8;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem 0 4rem 0
}

.about-page-cta h3{
    margin-top: 0;
    padding-top: 2rem;
    color: white;
}

.about-page-cta a {
	text-decoration: none;
}

.contact-us-button{
	color: white;
	background: #FF6952;
	border-radius: 10%;
	border: none;
	padding: .75rem;
	margin: 0;
	transition: transform, backgroundcolor, .5s ease;
  transform: scale(1);
}

.contact-us-button:hover{
	background: #ff5339;
    box-shadow: 0 0 6px white;
    transform: scale(1.05);
}

/* Hero image */

.hero-h1{
	margin-bottom: 0;
    color: white;
    text-shadow: 2px 2px 8px black;
}

.hero-p{
	font-weight: bold;
  color: white;
  margin-top: 0;
    text-shadow: 2px 2px 8px black;
}
.create-box{
	max-width: 550px;
	min-height: 88px;
	margin: auto;
}
.create-box form{
	width: 100%;
	margin: 0 auto;

}